{% extends "base.html" %}
{% load static %}



{% block menu %}
<div>
    <a href="{% url 'about' %}" class="btn btn-secondary p-4 m-2 ">KIF haqida</a>
    <a href="{% url 'dekanat' %}" class="btn btn-secondary p-4 m-2 active">Ma'muriyat</a>
    <a href="{% url 'news' %}" class="btn btn-secondary p-4 m-2">Yangiliklar</a>
    <a href="" class="btn btn-secondary p-4 m-2">Dars Jadvali</a>
</div>
{% endblock menu %}


{% block content %}

<div class="container m-3 ml-5">

<h2 class='m-2'>FAKULTET MA’MURIYATI</h2>
<div class="main-content pr-4" style="overflow-y: auto; height: 70vh; width: 70vw">
    {% for people in dekanat %}
    <div class="card ">
        <div class='container m-2 ml-5 pl-5'>
            <div class=''>
                <img src="{{ people.image.url }}" class=" float-left ml-5 mr-5" style="border-radius:10px; " alt="Dekan" >
            </div>
            <div class="  m-2 ml-5">
                {{ people.body|safe }}
            </div>
        </div>
    </div>
{% endfor %}
   
</div>
</div>

{% endblock content %}