{% extends "base.html" %}
{% load static %}


{% block sidebar %}

      <div class="sidebar_content">
        <a href="{% url 'about' %}" id="dashboard__product">
          <ion-icon name="home-outline"></ion-icon>
          KIF haqida
        </a>
        <a href="{% url 'dekanat' %}" id="dashboard__blogs">
          <ion-icon name="apps-outline"></ion-icon>
          Ma'muriyat
        </a>
        <a href="{% url 'students' %}">
          <ion-icon name="book-outline"></ion-icon>
          Iqtidorli talabalar
        </a>
        <a href="{% url 'news' %}"   class="active">
          <ion-icon name="newspaper-outline"></ion-icon>
          Yangiliklar
        </a>
        {% comment %} <a href="{% url 'schedule' %}">
          <ion-icon name="receipt-outline"></ion-icon>
          Xonalar
        </a> {% endcomment %}
       
        <div class="scaner">
          <img src="{% static 'img/qr_code.png' %}" alt="QR Code">
          <p>Scan me</p>
        </div>
      </div>
      
      {% endblock sidebar %}



      {% block content %}
        <div class="home_page">
          <a href="{% url 'news' %}" class="btn btn-dark back"><ion-icon name="arrow-back-outline"></ion-icon>Ortga</a>
          <div class="detail_wrap">
            <div class="detail_content">
              <h3>{{ new.title }}</h3>
            <p>
              {{ new.body|safe}}
            </p>
            </div>
            <div class="detail_img">
              <img src="{{ new.image.url }}" alt="">
            </div>
          </div>
        </div>
        {% endblock content %}

{% block script %}
function navigateToNewPage() {
    var newPageUrl = "/news/";
    window.location.href = newPageUrl;
}
setTimeout(navigateToNewPage,  2 * 30 * 1000); // 10 daqiya = 10 * 60 * 1000 millisekund

{% endblock script %}