{% extends "base.html" %}
{% load static %}



{% block menu %}
<div>
    <a href="{% url 'about' %}" class="btn btn-secondary p-4 m-2 ">KIF haqida</a>
    <a href="{% url 'dekanat' %}" class="btn btn-secondary p-4 m-2 ">Ma'muriyat</a>
    <a href="{% url 'news' %}" class="btn btn-secondary p-4 m-2 active">Yangiliklar</a>
    <a href="" class="btn btn-secondary p-4 m-2">Dars Jadvali</a>
</div>
{% endblock menu %}


{% block content %}
<div class="container m-3 ml-5">

<h2 class='m-2 mb-5'>So'nggi yangiliklar</h2>


            <div id="carouselExampleIndicators" class="carousel slide pt-5 ml-4" data-ride="carousel" style="width:70vw">
                <ol class="carousel-indicators">
                    {% for i in news %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" {% if forloop.counter == 1 %}  class="active" {% endif %}></li>
                    
                    {% endfor %}
                    
                </ol>
                <div class="carousel-inner">
                    
                    {% for new in news %}
                    
                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" >
                        <img class="d-block w-100" src="{{ new.image.url }}" alt="First slide">
                        <div class="carousel-caption d-none d-md-block ">
                            <h5>{{ new.title }}</h5>
                            <p>{{ new.subtitle }}</p>
                            <a href="{% url 'detail' new.id %}" class="btn btn-primary btn-carousel">Batafsil</a>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

{% endblock content %}