{% extends "base.html" %}
{% load static %}


{% block sidebar %}

      <div class="sidebar_content">
        <a href="{% url 'about' %}" id="dashboard__product">
          <ion-icon name="home-outline"></ion-icon>
          KIF haqida
        </a>
        <a href="{% url 'dekanat' %}" id="dashboard__blogs">
          <ion-icon name="apps-outline"></ion-icon>
          Ma'muriyat
        </a>
        <a href="{% url 'students' %}">
          <ion-icon name="book-outline"></ion-icon>
          Iqtidorli talabalar
        </a>
        <a href="{% url 'news' %}">
          <ion-icon name="newspaper-outline"></ion-icon>
          Yangiliklar
        </a>
        {% comment %} <a href="{% url 'schedule' %}"  class="active">
          <ion-icon name="receipt-outline"></ion-icon>
          Xonalar
        </a> {% endcomment %}
       
        <div class="scaner">
          <img src="{% static 'img/qr_code.png' %}" alt="QR Code">
          <p>Scan me</p>
        </div>
      </div>
      
      {% endblock sidebar %}



      {% block content %}

      <div class="home_page">
        <h1 class="main_title">Dars jadvali</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Xonalar/Juftliklar</th>
              
              {% for para in paralar %}
                <th >{{ para.time_start }}-{{ para.time_end }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for room in schedule %}
              <tr>
                {% for para in room %}
                  {% if forloop.counter == 1 %}
                    {% if para.room.room %}
                      <td>{{ para.room.room }}-xona</td>
                    {% else %}
                      <td>{{ para.room }}-xona</td>
                      {% endif %}
                  {% endif %}
                  

                  {% if para.room.room %}
                  {% comment %} <td class='bg-success' >{{ para.subject }} </td> {% endcomment %}
                  <td class='bg-danger text-white' >Dars</td>
                  
                  {% else %}
                  <td class='bg-success'>-</td>
                  {% endif %}
                
                {% endfor %}
                
              </tr>
            {% endfor %}

          </tbody>
        </table>
        
      </div>
      {% endblock content %}

{% block script %}
function navigateToNewPage() {
    var newPageUrl = "/";
    window.location.href = newPageUrl;
}

setTimeout(navigateToNewPage,  3 * 30 * 1000); // 3 daqiya = 3 * 60 * 1000 millisekund

{% endblock script %}